<div class="sidebar" [class.close]="close">
  <div class="logo-details">
    <i class="bx bx-test-tube"></i>
    <span class="logo_name">{{ title }}</span>
  </div>
  <ul class="nav-links">
    <li #ele>
      <div class="iocn-link" (click)="openSubmenu(ele)">
        <a href="#">
          <i class="bx bx-book-alt"></i>
          <span class="link_name">Introducción</span>
        </a>
        <i class="bx bxs-chevron-down arrow"></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Introducción</a></li>
        <li><a [routerLink]="['/actividad-1']">Actividad 1</a></li>
        <li><a [routerLink]="['/actividad-2']">Actividad 2</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class="bx bxl-mongodb"></i>
        <span class="link_name">Explicación</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Explicación</a></li>
      </ul>
    </li>
  </ul>
</div>
<section class="home-section">
  <div class="home-content">
    <i class="bx bx-menu" (click)="close = !close"></i>
    <span class="text">Prueba técnica</span>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 p-4">
        <mat-card>
          <router-outlet></router-outlet>
        </mat-card>
      </div>
    </div>
  </div>
</section>
